@import "vars";

.features {
  width: 100%;
  height: 976px;
  background: linear-gradient(115deg, $main-color 57%, transparent 57%,
  transparent 83%, $main-color 50%),
    url(../images/features/features-bg.jpg) 675px center no-repeat;
}

.features__block {
  width: 362px;
  height: 100%;
  margin-left: $left-margin;
  padding-top: 199px;
}

.features__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;

  &__text {
    display: inline-block;
    line-height: 150%;
    color: white;
    height: 96px;
    width: 263px;
  }
}

@media screen and (max-width: 768px) {
  .features {
    background-color: $main-color;
    background-image: none;
  }

  .features__block {
    margin-left: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .features {
    background: linear-gradient(115deg, $main-color 65%, transparent 57%,
    transparent 89%, $main-color 50%),
      url(../images/features/features-bg.jpg) 150px center no-repeat;
  }
}

@media screen and (max-width: 415px) {
  .features__block {
    width: 300px;
  }
}
