@import "vars";

.container {
  width: 100%;
  height: 1170px;
  color: white;
  background-color: $second-background-color;
}

.rectangle {
  width: 100%;
  height: 800px;
  background: linear-gradient(-65deg, rgb(252, 252, 253) 22%, $main-color 0);
  padding-top: 48px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 26% 0 14%;
  align-items: center;

  &__logo {
    font-weight: bold;
    font-size: 32px;
  }

  &__items {
    display: flex;
    width: 558px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  &__underline {
    display: inline-block;
    box-sizing: border-box;
    width: 70px;
    text-align: center;
    line-height: 40px;
    border-bottom: 4px solid $yellow-color;
  }
}

.link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition-duration: 0.5s;

  &:hover {
    color: $text-color;
  }

  &--black {
    color: $text-color;
    font-weight: bold;
    transition-duration: 0.5s;
  }
}

.header__text {
  margin: 85px 30% 0 325px;
  width: 50%;

  &__name {
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 20px;
  }

  &__descr {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 42px;
  }
}

.button {
  width: 205px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  border: none;
  transition-duration: 0.5s;

  &:hover {
    background-color: $yellow-color;

    .link--black {
      color: white;
    }
  }
}

@media screen and (max-width: 999px) {
  .nav {
    margin: 0 auto;
    flex-direction: column;

    &__items {
      flex-direction: column;

      &__position {
        padding: 0;
      }
    }
  }

  .header__text {
    width: 90%;
    margin: 20px auto 0;

    &__name {
      font-size: 30px;
    }

    &__descr {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header__text__descr {
    margin-bottom: 22px;
  }

  .nav__items {
    justify-content: space-around;
  }
}
