@import "vars";

.img {
  background-image: url(../images/slider/slide-img-1.jpg);
  background-size: cover;
  position: relative;
  width: 70%;
  height: $header-photo-height;
  left: $left-margin;
  top: calc(-#{$header-photo-height / 2});
  z-index: 1;

  &__text {
    position: absolute;
    top: 470px;
    left: 90px;
    width: 260px;

    &__header {
      font-size: 12px;
      font-weight: 800;
      color: $main-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 22px;
    }

    &__descr {
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 42px;
    }
  }
}

.slider {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: $slider-width;
  height: $slider-height;
  border-radius: calc(#{$slider-height / 2});
  background-color: $yellow-color;
  top: calc(#{$header-photo-height / 2} - #{$slider-height / 2});
  left: calc(-#{$slider-width / 2});

  &__arrow {
    width: 15px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;

    &--left {
      background-image: url(../images/slider/arrow-left.svg);
    }

    &--right {
      background-image: url(../images/slider/arrow-right.svg);
    }
  }
}

.networks {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 410px;
  top: 320px;
  right: -280px;
  color: black;
  transform: rotate(90deg);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
}

@media screen and (max-width: 999px) {

  .networks {
    right: -240px;
  }
}
