@import "vars";

.connection {
  width: 100%;
  background-color: $second-background-color;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 $left-margin 136px;

  &__form {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .connection {
    flex-direction: column;
    justify-content: space-evenly;
    height: 1200px;
    padding: 0 30px 50px;

    &__form {
      width: 90%;
    }

    input:last-of-type {
      margin-bottom: 80px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;

  &__input {
    display: block;
    height: 50px;
    margin-top: 38px;
    border-bottom: 1px solid #e1e1e1;
    background-color: $second-background-color;
    outline: none;

    &::placeholder {
      font-weight: bold;
      font-size: 14.4px;
      line-height: 30px;
      color: #152032;
    }
  }
}

input:last-of-type {
  margin-bottom: 121px;
}
