@import "vars";

.process__container {
  margin: 0 64px;
  background-color: $second-background-color;
  display: flex;
  justify-content: space-between;
  padding: 160px 222px 0 163px;
}

.process__descr {
  width: 362px;
  margin-bottom: 291px;

  &__text {
    font-size: 16px;
    line-height: 150%;

  }
}

@media screen and (max-width: 999px) {
  .process__container {
    flex-direction: column;
    padding: 50px 20px 0;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .process__descr {
    margin-bottom: 100px;
  }
}
