@import "vars";

.process__items {
  display: flex;
  width: 650px;
  justify-content: space-around;
  flex-flow: row wrap;

  @media screen and (max-width: 620px) {
    width: 300px;
  }
}

.process__card {
  width: 240px;
  padding: 48px 32px;
  background-color: white;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  height: $process-card-height;
  box-sizing: border-box;
  margin: 40px 0 0;
  position: relative;

  @media screen and (max-width: 620px) {
    max-width: 350px;
    margin: 20px 0 0;
    padding: 24px 16px;
    height: 180px;
  }

  &--left {
    top: 175px;
    z-index: 1;

    @media screen and (max-width: 620px) {
      top: 0;
    }
  }

  &--right {
    top: 65px;
    margin-right: 0;
    z-index: 1;

    @media screen and (max-width: 620px) {
      top: 0;
    }
  }

  &__text {
    font-size: 12.6px;
    line-height: 150%;
    text-align: center;
  }
}

.card__background {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(241, 251, 254);
  margin: 0 auto 32px;
  position: relative;

  &--yellow {
    background-color: rgb(255, 250, 233);
  }

  &--green {
    background-color: rgb(234, 251, 239);
  }

  &--red {
    background-color: rgb(254, 241, 241);
  }

  &__number {
    position: absolute;
    display: block;
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    color: $main-color;
    top: 16px;
    left: 12px;

    &--yellow {
      color: rgb(252, 197, 15);
    }

    &--green {
      color: rgb(11, 214, 71);
    }

    &--red {
      color: rgb(243, 95, 95);
    }
  }
}
