@import "vars";

.process__items {
  display: flex;
  width: calc(#{$process-card-width * 2} + #{$process-card-spaceX});
  justify-content: space-between;
  height: calc(#{$process-card-height * 2} + #{$process-card-spaceY});
}

.column {
  display: flex;
  flex-direction: column;
  width: $process-card-width;
  height: calc(#{$process-card-height * 2} + #{$process-card-spaceY});
  justify-content: space-between;
  position: relative;
  z-index: 1;

  &--left {
    top: 176px;
  }

  &--right {
    top: 65px;
    left: #{$process-card-spaceX};
  }
}

.process__card {
  padding: 48px 32px;
  background-color: white;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  height: $process-card-height;
  box-sizing: border-box;

  &__text {
    font-size: 12.6px;
    line-height: 150%;
    text-align: center;
  }
}

.card__background {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(241, 251, 254);
  margin: 0 auto 32px;
  position: relative;

  &--yellow {
    background-color: rgb(255, 250, 233);
  }

  &--green {
    background-color: rgb(234, 251, 239);
  }

  &--red {
    background-color: rgb(254, 241, 241);
  }

  &__number {
    position: absolute;
    display: block;
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    color: $main-color;
    top: 16px;
    left: 12px;

    &--yellow {
      color: rgb(252, 197, 15);
    }

    &--green {
      color: rgb(11, 214, 71);
    }

    &--red {
      color: rgb(243, 95, 95);
    }
  }

}

@media screen and (max-width: 768px) {
  .process__items {
    width: 90%;
  }

  .column {
    height: 520px;

    &--left {
      top: 100px;
    }

    &--right {
      top: 35px;
    }
  }

  .process__card {
    padding: 24px 16px;
    height: 250px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .column {
    width: 50%;
    height: 450px;

    &--left {
      top: 150px;
    }

    &--right {
      top: 100px;
      left: 40px;
    }
  }

  .process__card {
    padding: 24px 16px;
    height: 200px;
  }
}
