@import "vars";

.process__container {
  margin: 0 4%;
  background-color: $second-background-color;
  display: flex;
  justify-content: space-between;
  padding: 160px 222px 0 11%;
  height: 816px;
  box-sizing: border-box;
}

.process__descr {
  width: 362px;

  &__text {
    font-size: 16px;
    line-height: 150%;

  }
}

@media screen and (max-width: 999px) {
  .process__container {
    flex-direction: column;
    padding: 50px 20px 0;
    justify-content: flex-start;
    margin: 0 10px;
    height: 900px;
    position: relative;
  }
}

@media screen and (min-width:1000px) and (max-width: 1024px) {
  .process__container {
    padding: 100px 0 0 85px;
    justify-content: space-between;
    height: 616px;
  }

  .process__descr {
    width: 340px;
    margin-right: 20px;
  }
}
