@import "vars";

.testimonials {
  box-sizing: border-box;
  height: 688px;
  width: 100%;
  padding-left: $left-margin;
  padding-top: 166px;
}

@media screen and (max-width: 999px) {
  .testimonials {
    padding-top: 100px;
    height: 1500px;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 83%;
  height: 464px;
  margin-left: 1.6%;
  box-sizing: border-box;
}

@media screen and (max-width: 999px) {
  .cards {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .cards__item {
    margin-bottom: 10px;

    &__position {
      margin-bottom: 10px;
    }
  }

  .testimonials {
    padding-left: 30px;
  }
}

.cards__item {
  display: flex;
  flex-direction: column;
  width: 314px;
  background: #fefefe;
  box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  align-items: center;
  z-index: 1;

  &__text {
    display: block;
    width: 250px;
    font-size: 14.4px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 31px;
  }

  &__line {
    width: 64px;
    height: 2px;
    background-color: $main-color;
    margin-bottom: 31px;

    &--yellow {
      background-color: $yellow-color;
    }

    &--red {
      background-color: $red-color;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 12.6px;
    line-height: 150%;
  }

  &__position {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    color: $main-color;

    &--yellow {
      color: $yellow-color;
    }

    &--red {
      color: $red-color;
    }
  }
}

.item__header {
  position: relative;
  width: 100%;
  height: 250px;

  &__background {
    position: absolute;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%),
      $main-color;
    width: 162px;
    height: 64px;
    left: 76px;
    top: 100px;
    transform: rotate(-65deg);
    border-radius: 32px;

    &--yellow {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        $yellow-color;
    }

    &--red {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%),
        #f25656;
    }
  }

  &__img {
    width: 64px;
    height: 124px;
    position: absolute;
    top: 113px;
    left: 127px;
    transform: rotate(-30deg);
    overflow: hidden;
    border-radius: 32px;
    display: flex;
    justify-content: center;
  }

  &__photo {
    height: 100%;
    transform: rotate(30deg) scale(-1, 1);

    &--scale {
      transform: rotate(30deg) scale(1.2);
    }
  }
}
