@import "vars";

.vision {
  width: 100%;
  height: 865px;
  background-color: $second-background-color;
  box-sizing: border-box;
  border: 1px solid $second-background-color;
  position: relative;
}

.vision__descr {
  width: 47%;
  margin: 320px auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 57px;
  }

  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 1024px) {
  .vision__descr {

    &__header {
      text-align: center;
    }
  }
}

@media screen and (max-width: 999px) {
  .vision__descr {
    margin: 220px auto auto;

    &__text {
      margin-bottom: 35px;
    }
  }

  .vision-rec__middle--yelloy {
    left: 45%;
  }

  .vision-rec {

    &__biggest {
      display: none;
    }

    &__big {

      &--right {
        display: none;
      }
    }

    &__small {
      left: 80%;
    }
  }
}

.vision-rec {
  opacity: 0.5;
  transform: rotate(-65.1deg);
  position: absolute;
  box-sizing: border-box;

  &__biggest {
    width: 154px;
    height: 61px;
    top: 613px;
    left: 83%;
    border: 5px solid $main-color;
    border-radius: 30.5px;
  }

  &__big {
    width: 153px;
    height: 65px;
    top: 478px;
    left: 16%;
    border: 5px solid #03d542;
    border-radius: 32.5px;

    &--right {
      top: 327px;
      left: 79%;
    }
  }

  &__middle {
    width: 86px;
    height: 34px;
    top: 249px;
    left: 14%;
    border: 3px solid #f25656;
    border-radius: 17px;

    &--right {
      top: 562px;
      left: 80%;
    }

    &--yellow {
      top: 52%;
      left: 85%;
      border: 3px solid #fcc304;
    }
  }

  &__middle1 {
    width: 94px;
    height: 37px;
    top: 698px;
    left: 8%;
    border: 5px solid #bc04fc;
    border-radius: 18px;
  }

  &__middle2 {
    width: 67px;
    height: 27px;
    top: 541px;
    left: 5%;
    border: 5px solid #56ccf2;
    border-radius: 13px;
  }

  &__smaller {
    width: 45px;
    height: 18px;
    top: 240px;
    left: 25%;
    border: 3px solid #fcc304;
    border-radius: 9px;

    &--bottom {
      top: 628px;
      left: 30%;
      border: 5px solid #fcc304;
    }

    &--purple {
      top: 677px;
      left: 63%;
      border: 3px solid #bc04fc;
    }
  }

  &__small {
    width: 54px;
    height: 21px;
    top: 276px;
    left: 90%;
    border: 5px solid #bc04fc;
    border-radius: 10px;
  }

}
