@import "vars";

.what_we_do {
  width: 100%;
  position: relative;
  padding-top: 160px;
  padding-bottom: 162px;

  @media screen and (max-width: 768px) {
    padding-bottom: 50px;
    padding-top: 60px;
  }

  &__heading {
    position: absolute;
    width: 300px;
    font-size: 48px;
    font-weight: 900px;
    top: -24px;
    left: calc((100vw - 300px) / 2);
    line-height: 48px;
    color: $text-color;

    @media screen and (max-width: 450px) {
      font-size: 42px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    max-width: 1049px;
    width: 65%;
    margin-left: $left-margin;

    @media screen and (min-width: 1601px) {

      margin: 0 auto;
    }

    @media screen and (max-width: 768px) {

      flex-direction: column;
      width: 264px;
      margin: 0 auto;
      align-items: center;
    }

    @media screen and (max-width: 1290px) {
      margin: 0 auto;
      width: 90%;
    }
  }

}

.section {
  width: 264px;

  @media screen and (max-width: 1290px) {
    margin-right: 20px;
  }

  &__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto 0 64px;
    display: block;

    @media screen and (max-width: 768px) {
      margin: 32px auto;
    }
  }

  &__heading {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 32px;
    line-height: 140%;
  }

  &__text {
    line-height: 150%;
  }
}
