.container {
  width: 100%;
  height: 1170px;
  color: white;
  background-color: #fcfcfd; }
  @media screen and (max-width: 630px) {
    .container {
      height: 1300px; } }

.rectangle {
  width: 100%;
  height: 800px;
  background: linear-gradient(-65deg, #fcfcfd 32%, #56ccf2 25%);
  padding-top: 48px; }
  @media screen and (max-width: 1189px) {
    .rectangle {
      height: 830px; } }
  @media screen and (max-width: 853px) {
    .rectangle {
      height: 870px; } }
  @media screen and (max-width: 630px) {
    .rectangle {
      height: 1000px;
      background: linear-gradient(-65deg, #fcfcfd 25%, #56ccf2 15%); } }
  @media screen and (min-width: 320px) and (max-width: 450px) {
    .rectangle {
      height: 1050px; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 25% 0 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 945px; }
  @media screen and (min-width: 1601px) {
    .nav {
      margin: 0 auto; } }
  @media screen and (max-width: 1200px) {
    .nav {
      margin: 0 20% 0 10%; } }
  @media screen and (max-width: 768px) {
    .nav {
      margin: 0 5%; } }
  @media screen and (max-width: 630px) {
    .nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .nav__logo {
    font-weight: bold;
    font-size: 32px; }
    @media screen and (max-width: 630px) {
      .nav__logo {
        margin-bottom: 15px; } }
  .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 558px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 630px) {
      .nav__items {
        width: 250px; } }
    @media (max-width: 630px) {
      .nav__items--footer {
        margin: 0 auto 20px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    @media screen and (max-width: 1200px) {
      .nav__items {
        max-width: 400px; } }
    @media screen and (max-width: 630px) {
      .nav__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 200px;
        margin-bottom: 15px; } }
  .nav__underline {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 70px;
    text-align: center;
    line-height: 40px;
    border-bottom: 4px solid #fcc304; }

.header__text {
  margin: 85px 30% 100px 20%;
  width: 55%;
  max-width: 945px; }
  @media screen and (min-width: 1601px) {
    .header__text {
      margin: 85px auto 100px; } }
  @media screen and (max-width: 630px) {
    .header__text {
      margin: 70px 5% 0;
      width: 80%; } }
  .header__text__name {
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 20px; }
    @media screen and (max-width: 790px) {
      .header__text__name {
        font-size: 50px; } }
    @media screen and (max-width: 630px) {
      .header__text__name {
        font-size: 40px; } }
    @media screen and (min-width: 320px) and (max-width: 450px) {
      .header__text__name {
        font-size: 30px; } }
  .header__text__descr {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 42px; }

body {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
  font-size: 16px; }

button {
  padding: 0;
  border: none;
  cursor: pointer; }

input {
  border: none; }

.img {
  background-image: url(../images/slider/slide-img-1.jpg);
  background-size: cover;
  position: relative;
  width: 70%;
  max-width: 1146px;
  min-width: 320px;
  height: 640px;
  margin: 0 auto;
  top: -320px; }
  @media screen and (max-width: 630px) {
    .img {
      height: 500px;
      top: -250px;
      width: 100%; } }
  .img__text {
    position: absolute;
    top: 73%;
    left: 90px;
    width: 260px; }
    @media screen and (max-width: 450px) {
      .img__text {
        left: 20px; } }
    .img__text__header {
      font-size: 12px;
      font-weight: 800;
      color: #56ccf2;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 22px; }
    .img__text__descr {
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 42px; }

.slider {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 65px;
  border-radius: calc(32.5px);
  top: calc(320px - 32.5px);
  left: calc(-80px); }
  @media screen and (max-width: 630px) {
    .slider {
      top: 467.5px;
      left: calc(50% - 80px); } }
  .slider__arrow {
    width: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fcc304;
    position: absolute;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
    .slider__arrow:hover {
      background-color: #ca9d02; }
    .slider__arrow--left {
      left: 0;
      top: 0;
      border-top-left-radius: calc(32.5px);
      border-bottom-left-radius: calc(32.5px); }
    .slider__arrow--right {
      top: 0;
      right: 0;
      border-top-right-radius: calc(32.5px);
      border-bottom-right-radius: calc(32.5px); }

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 410px;
  top: 320px;
  right: -280px;
  color: #253757;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800; }
  @media screen and (max-width: 768px) {
    .networks {
      right: -240px; } }
  @media screen and (max-width: 630px) {
    .networks {
      -webkit-transform: none;
              transform: none;
      left: 0;
      right: 0;
      top: 560px;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      margin: auto; } }
  @media screen and (min-width: 320px) and (max-width: 450px) {
    .networks {
      width: 310px; } }

.welcome {
  width: 100%;
  padding-top: 165px;
  padding-bottom: 160px;
  background-color: #fcfcfd; }
  .welcome__block {
    max-width: 735px;
    margin: 0 30px 0 15%; }
    @media screen and (min-width: 1601px) {
      .welcome__block {
        margin: 0 auto; } }
    @media screen and (max-width: 769px) {
      .welcome__block {
        margin: 0 30px; } }
  .welcome__text {
    font-size: 24px;
    font-weight: 500;
    color: #253757;
    line-height: 150%; }

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 21px; }
  .subtitle__img {
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    margin-right: 16px; }
    .subtitle__img--dark {
      background-image: url(../images/sub-title/sub-title-icon-dark.svg); }
    .subtitle__img--light {
      background-image: url(../images/sub-title/sub-title-icon-light.svg); }
  .subtitle__name {
    text-transform: uppercase;
    color: #56ccf2;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 21px; }
    .subtitle__name--light {
      color: white; }
  .subtitle__heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 64px;
    margin-top: 21px;
    width: 362px; }
    @media screen and (max-width: 480px) {
      .subtitle__heading {
        width: 70%;
        min-width: 250px;
        font-size: 24px; } }

.what_we_do {
  width: 100%;
  position: relative;
  padding-top: 160px;
  padding-bottom: 162px; }
  @media screen and (max-width: 768px) {
    .what_we_do {
      padding-bottom: 50px;
      padding-top: 60px; } }
  .what_we_do__heading {
    position: absolute;
    width: 300px;
    font-size: 48px;
    font-weight: 900px;
    top: -24px;
    left: calc((100vw - 300px) / 2);
    line-height: 48px;
    color: #253757; }
    @media screen and (max-width: 450px) {
      .what_we_do__heading {
        font-size: 42px; } }
  .what_we_do__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1049px;
    width: 65%;
    margin-left: 15%; }
    @media screen and (min-width: 1601px) {
      .what_we_do__items {
        margin: 0 auto; } }
    @media screen and (max-width: 768px) {
      .what_we_do__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 264px;
        margin: 0 auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (max-width: 1290px) {
      .what_we_do__items {
        margin: 0 auto;
        width: 90%; } }

.section {
  width: 264px; }
  @media screen and (max-width: 1290px) {
    .section {
      margin-right: 20px; } }
  .section__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto 0 64px;
    display: block; }
    @media screen and (max-width: 768px) {
      .section__img {
        margin: 32px auto; } }
  .section__heading {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 32px;
    line-height: 140%; }
  .section__text {
    line-height: 150%; }

.process {
  padding: 0 4%; }
  @media screen and (max-width: 1023px) {
    .process {
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .process {
      padding: 0; } }

.process__background {
  background-color: #fcfcfd;
  padding: 130px 100px 0 11%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (min-width: 1601px) {
    .process__background {
      padding: 160px auto 0; } }
  @media screen and (max-width: 1290px) {
    .process__background {
      padding: 160px 20px 0; } }
  @media screen and (max-width: 830px) {
    .process__background {
      height: 1150px;
      padding-top: 100px; } }

.process__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1087px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (min-width: 1601px) {
    .process__container {
      margin: 0 auto; } }
  @media screen and (max-width: 830px) {
    .process__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.process__descr {
  max-width: 362px; }
  .process__descr__text {
    font-size: 16px;
    line-height: 150%; }

.process__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 650px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  @media screen and (max-width: 620px) {
    .process__items {
      width: 300px; } }

.process__card {
  width: 240px;
  padding: 48px 32px;
  background-color: white;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  height: 256px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 40px 0 0;
  position: relative; }
  @media screen and (max-width: 620px) {
    .process__card {
      max-width: 350px;
      margin: 20px 0 0;
      padding: 24px 16px;
      height: 180px; } }
  .process__card--left {
    top: 175px;
    z-index: 1; }
    @media screen and (max-width: 620px) {
      .process__card--left {
        top: 0; } }
  .process__card--right {
    top: 65px;
    margin-right: 0;
    z-index: 1; }
    @media screen and (max-width: 620px) {
      .process__card--right {
        top: 0; } }
  .process__card__text {
    font-size: 12.6px;
    line-height: 150%;
    text-align: center; }

.card__background {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f1fbfe;
  margin: 0 auto 32px;
  position: relative; }
  .card__background--yellow {
    background-color: #fffae9; }
  .card__background--green {
    background-color: #eafbef; }
  .card__background--red {
    background-color: #fef1f1; }
  .card__background__number {
    position: absolute;
    display: block;
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    color: #56ccf2;
    top: 16px;
    left: 12px; }
    .card__background__number--yellow {
      color: #fcc50f; }
    .card__background__number--green {
      color: #0bd647; }
    .card__background__number--red {
      color: #f35f5f; }

.features {
  width: 100%;
  height: 976px;
  background: linear-gradient(115deg, #56ccf2 59%, transparent 57%, transparent 83%, #56ccf2 50%), url(../images/features/features-bg.jpg) 46vw center no-repeat; }
  @media screen and (min-width: 1601px) {
    .features {
      background: linear-gradient(115deg, #56ccf2 57%, transparent 57%, transparent 83%, #56ccf2 50%), url(../images/features/features-bg.jpg) right no-repeat; } }

.features__block {
  max-width: 1087px;
  height: 100%;
  margin-left: 15%;
  padding-top: 199px; }
  @media screen and (min-width: 1601px) {
    .features__block {
      margin: 0 auto; } }

.features__item {
  max-width: 362px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px; }
  @media screen and (max-width: 425px) {
    .features__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 32px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .features__item__text {
    display: inline-block;
    line-height: 150%;
    color: white;
    height: 96px;
    max-width: 263px; }

@media screen and (max-width: 768px) {
  .features {
    background-color: #56ccf2;
    background-image: none; }
  .features__block {
    margin-left: 30px; } }

@media screen and (min-width: 769px) and (max-width: 1500px) {
  .features {
    background: linear-gradient(115deg, #56ccf2 65%, transparent 57%, transparent 89%, #56ccf2 50%), url(../images/features/features-bg.jpg) left no-repeat; } }

.testimonials {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white;
  height: 688px;
  width: 100%; }
  @media (max-width: 890px) {
    .testimonials {
      height: 1300px; } }
  @media (max-width: 622px) {
    .testimonials {
      height: 1700px; } }

.testimonials__container {
  max-width: 1176px;
  margin: 166px 15% 0 15%; }
  @media screen and (min-width: 1601px) {
    .testimonials__container {
      margin: 166px auto 0; } }
  @media (max-width: 1290px) {
    .testimonials__container {
      margin: 166px 20px 0; } }
  @media (max-width: 890px) {
    .testimonials__container {
      margin-top: 80px; } }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1176px;
  height: 464px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 1290px) {
    .cards {
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; } }
  @media (max-width: 890px) {
    .cards {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      height: 1100px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 622px) {
    .cards {
      height: 1500px; } }

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 314px;
  background: #fefefe;
  -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
          box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px 58px;
  z-index: 1; }
  @media (max-width: 1024px) {
    .cards__item {
      max-width: 200px; } }
  @media (max-width: 890px) {
    .cards__item {
      max-width: 314px; } }
  @media (max-width: 671px) {
    .cards__item {
      padding: 0 20px 30px; } }
  .cards__item__text {
    display: block;
    max-width: 250px;
    width: 90%;
    font-size: 14.4px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 31px; }
  .cards__item__line {
    width: 64px;
    height: 2px;
    background-color: #56ccf2;
    margin-bottom: 31px; }
    .cards__item__line--yellow {
      background-color: #fcc304; }
    .cards__item__line--red {
      background-color: #f25656; }
  .cards__item__name {
    font-weight: bold;
    font-size: 12.6px;
    line-height: 150%; }
  .cards__item__position {
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    color: #56ccf2; }
    .cards__item__position--yellow {
      color: #fcc304; }
    .cards__item__position--red {
      color: #f25656; }

.item__header {
  width: 100%;
  height: 250px;
  margin-bottom: 30px; }
  .item__header__background {
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    width: 162px;
    height: 64px;
    margin: auto;
    top: 40%;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    border-radius: 32px; }
    .item__header__background--yellow {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
    .item__header__background--red {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .item__header__img {
    width: 64px;
    height: 124px;
    position: relative;
    top: 25px;
    margin: auto;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    overflow: hidden;
    border-radius: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .item__header__photo {
    height: 100%;
    -webkit-transform: rotate(30deg) scale(-1, 1);
            transform: rotate(30deg) scale(-1, 1); }
    .item__header__photo--scale {
      -webkit-transform: rotate(30deg) scale(1.2);
              transform: rotate(30deg) scale(1.2); }

.vision {
  width: 100%;
  height: 865px;
  background-color: #fcfcfd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fcfcfd;
  position: relative; }

.vision__descr {
  width: 47%;
  max-width: 754px;
  margin: 320px auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .vision__descr__header {
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 57px; }
    @media (max-width: 481px) {
      .vision__descr__header {
        font-size: 36px; } }
  .vision__descr__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 55px; }

@media screen and (max-width: 1024px) {
  .vision__descr__header {
    text-align: center; } }

@media screen and (max-width: 999px) {
  .vision__descr {
    margin: 220px auto auto; }
    .vision__descr__text {
      margin-bottom: 35px; }
  .vision-rec__middle--yelloy {
    left: 45%; }
  .vision-rec__biggest {
    display: none; }
  .vision-rec__big--right {
    display: none; }
  .vision-rec__small {
    left: 80%; } }

.vision-rec {
  opacity: 0.5;
  -webkit-transform: rotate(-65.1deg);
          transform: rotate(-65.1deg);
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 600px) {
    .vision-rec {
      display: none; } }
  .vision-rec__biggest {
    width: 154px;
    height: 61px;
    top: 613px;
    left: 83%;
    border: 5px solid #56ccf2;
    border-radius: 30.5px; }
  .vision-rec__big {
    width: 153px;
    height: 65px;
    top: 478px;
    left: 16%;
    border: 5px solid #03d542;
    border-radius: 32.5px; }
    .vision-rec__big--right {
      top: 327px;
      left: 79%; }
  .vision-rec__middle {
    width: 86px;
    height: 34px;
    top: 249px;
    left: 14%;
    border: 3px solid #f25656;
    border-radius: 17px; }
    .vision-rec__middle--right {
      top: 562px;
      left: 80%; }
    .vision-rec__middle--yellow {
      top: 52%;
      left: 75%;
      border: 3px solid #fcc304; }
  .vision-rec__middle1 {
    width: 94px;
    height: 37px;
    top: 698px;
    left: 8%;
    border: 5px solid #bc04fc;
    border-radius: 18px; }
  .vision-rec__middle2 {
    width: 67px;
    height: 27px;
    top: 541px;
    left: 5%;
    border: 5px solid #56ccf2;
    border-radius: 13px; }
  .vision-rec__smaller {
    width: 45px;
    height: 18px;
    top: 240px;
    left: 25%;
    border: 3px solid #fcc304;
    border-radius: 9px; }
    .vision-rec__smaller--bottom {
      top: 628px;
      left: 30%;
      border: 5px solid #fcc304; }
    .vision-rec__smaller--purple {
      top: 677px;
      left: 63%;
      border: 3px solid #bc04fc; }
  .vision-rec__small {
    width: 54px;
    height: 21px;
    top: 276px;
    right: 2%;
    border: 5px solid #bc04fc;
    border-radius: 10px; }

.button {
  width: 205px;
  height: 50px;
  border-radius: 25px;
  background-color: white;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #253757; }
  .button:hover {
    background-color: #fcc304;
    color: white; }
  .button--blue {
    background-color: #2f80ed;
    color: white; }
    .button--blue:hover {
      background-color: #56ccf2; }

.connection__container {
  width: 100%;
  background-color: #fcfcfd; }

.connection {
  max-width: 1146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 15%;
  padding-bottom: 136px; }
  @media screen and (min-width: 1601px) {
    .connection {
      margin: 0 auto; } }
  @media (max-width: 1300px) {
    .connection {
      padding: 0 40px 136px;
      margin: 0 20px; } }
  .connection__form {
    width: 40%; }

@media screen and (max-width: 768px) {
  .connection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 1200px;
    padding: 0 30px 10px; }
    .connection__form {
      width: 90%; }
    .connection input:last-of-type {
      margin-bottom: 80px; }
  .button:last-child {
    -ms-flex-item-align: center;
        align-self: center; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 50px; }
  .form__input {
    display: block;
    height: 50px;
    margin-top: 38px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fcfcfd;
    outline: none; }
    .form__input::-webkit-input-placeholder {
      font-weight: bold;
      font-size: 14.4px;
      line-height: 30px;
      color: #152032; }
    .form__input::-moz-placeholder {
      font-weight: bold;
      font-size: 14.4px;
      line-height: 30px;
      color: #152032; }
    .form__input:-ms-input-placeholder {
      font-weight: bold;
      font-size: 14.4px;
      line-height: 30px;
      color: #152032; }
    .form__input::-ms-input-placeholder {
      font-weight: bold;
      font-size: 14.4px;
      line-height: 30px;
      color: #152032; }
    .form__input::placeholder {
      font-weight: bold;
      font-size: 14.4px;
      line-height: 30px;
      color: #152032; }

input:last-of-type {
  margin-bottom: 121px; }

.contacts__header {
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  margin-bottom: 43px;
  margin-top: 19px;
  max-width: 362px;
  color: #253757; }
  @media (max-width: 481px) {
    .contacts__header {
      font-size: 24px; } }

.contacts__name {
  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  color: #334563;
  text-transform: uppercase;
  letter-spacing: 2px; }

.contacts__value {
  display: block;
  font-weight: 900;
  font-size: 24px;
  line-height: 150%;
  color: #56ccf2;
  margin-bottom: 41px;
  text-decoration: none;
  letter-spacing: 1.5px;
  text-transform: uppercase; }
  @media (max-width: 481px) {
    .contacts__value {
      font-size: 18px; } }

.networks__icon {
  padding-top: 12px; }
  .networks__icon__item {
    margin-right: 40px;
    width: 32px;
    height: 32px; }
    @media (max-width: 481px) {
      .networks__icon__item {
        margin-right: 20px; } }

.footer {
  background-color: #fcfcfd; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1145px;
    margin: 0 15%;
    padding-bottom: 83px; }
    @media screen and (min-width: 1601px) {
      .footer__container {
        margin: 0 auto; } }
    @media screen and (max-width: 1200px) {
      .footer__container {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin: 0 50px; } }
    @media screen and (max-width: 630px) {
      .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.link {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  .link:hover {
    color: #253757; }
  .link--black {
    color: #253757;
    font-weight: bold;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
  @media (max-width: 630px) {
    .link--footer {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      text-align: left; } }

/*# sourceMappingURL=main.css.map */
